body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}

@media (max-width: 767px) {
    main {
      flex-direction: column;
    }
    section {
      margin-bottom: 10px;
    }
    form {
      flex-direction: column;
    }
    input, textarea {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    header {
      padding: 0.5em;
    }
    nav ul {
      flex-direction: column;
    }
    nav li {
      margin-bottom: 10px;
    }
    main {
      padding: 1em;
    }
    section {
      padding: 0.5em;
    }
    form {
      padding: 0.5em;
    }
  }

  